---
import "../styles/flexes.css"
import "../styles/overlayContent.css"
import Button from "./Button.astro";
import "../styles/global.css"
import { swapOverlay } from "../services/TicTacToeService";
---

<h1>Write your name</h1>
<input>
<Button action={} text="Start Game" ></Button>
